body{
font-family: Arial;
background:black;
color:white;
text-align:center;
}

a{
color:gold;
margin:10px;
text-decoration:none;
}

h1{
color:gold;
}
.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#111;
margin:15px;
padding:15px;
border-radius:10px;
width:220px;
}

.card img{
width:100%;
border-radius:10px;
}
.slider{
position:relative;
width:400px;
margin:auto;
}

.slide{
width:100%;
display:none;
border-radius:10px;
}

.prev, .next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:black;
color:white;
border:none;
padding:10px;
cursor:pointer;
}

.prev{ left:0; }
.next{ right:0; }
.plans {
  display: block;
}
.plans {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.plans button {
  padding: 15px;
  font-size: 18px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 8px;
}

.plans button:hover {
  background: #333;
}
