body{
font-family: Arial;
background:black;
color:white;
text-align:center;
}

a{
color:gold;
margin:10px;
text-decoration:none;
}

h1{
color:gold;
}
.gallery{
display:flex;
flex-wrap:wrap;
justify-content:center;
}

.card{
background:#111;
margin:15px;
padding:15px;
border-radius:10px;
width:220px;
}

.card img{
width:100%;
border-radius:10px;
}
